.text-slider {
  overflow-y: hidden;
  position: relative;

  .text-slider-wrapper {
    position: absolute;
    transition: 750ms ease;

    .text-slider-text {
      a {
        color: white;
        font-size: inherit;
        position: relative;
      }
    }

    div {
      padding-bottom: 40px;
    }
  }
}
