.work {
  background-color: #000;

  .work-item-slider {
    display: grid;
    height: 100%;

    .work-item-slide-wrapper {
      height: calc(var(--vh, 1vh) * 100);
      width: 100vw;
      display: grid;
      justify-items: center;
      align-items: center;
    }

    .work-item-slide {
      height: 100%;
      width: 100vw;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

      &.itworks {
        background-position: right;
        // background-image: url('../../assets/images/itworks-logo-lg.png');
        background-image: url('../../assets/images/itworks-logo.svg');

        @media screen and (min-width: $mobile) {

        }
      }

      &.ncrs {
        background-image: url('../../assets/images/ncrs.jpg');
      }

      &.camping {
        background-image: url('../../assets/images/camping.jpg');
      }

      @media screen and (min-width: $mobile) {
        width: 80vw;
        height: 80vh;
      }
    }
  }
}

body {
  &.is-mobile-browser {
    .work {
      @include MobileStyles();

      .work-item-slider {
        .work-item-slide-wrapper {
          @include MobileStyles();
        }

        .work-item-slide {
          @include MobileStyles();
        }
      }
    }
  }
}
