<div class="info">
  <div class="about">
    <h2>About</h2>
    <p>Hello, my name is James. I am Software Developer from the United States. I love working on Software projects of all kinds, check out some of my own on Github. If you want to contact me then send me a message via Email.</p>
  </div>

  <div class="contact">
    <h2>Contact</h2>

    <div class="contact-element">
      <div class="contact-element--label">
        Email:
      </div>

      <div class="contact-element--info">
        <div class="contact-element--text">
          <input value="james.halltreworgy@gmail.com" disabled/>
        </div>
        <div class="contact-element--copy" appCursorHover>
          <div class="copy-button"></div>
        </div>
      </div>
    </div>

    <div class="contact-element">
      <div class="contact-element--label">
        Github:
      </div>

      <div class="contact-element--info">
        <div class="contact-element--text">
          <input value="https://github.com/James-H33" disabled/>
        </div>
        <div class="contact-element--copy" appCursorHover>
          <div class="copy-button"></div>
        </div>
      </div>
    </div>

    <div class="contact-element">
      <div class="contact-element--label">
        Linkin:
      </div>

      <div class="contact-element--info">
        <div class="contact-element--text">
          <input value="https://www.linkedin.com/in/james-hall-treworgy-064b5a112" disabled/>
        </div>
        <div class="contact-element--copy" appCursorHover>
          <div class="copy-button"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="info--background"></div>
</div>
