* {
  padding: 0;
  margin: 0;
}

html,
body {
  overflow: hidden; // needed
}

body {
  font-family: 'Roboto';
}

@import './utils';
@import './fonts';
@import './components';
@import './pages';

main {
  // max-width: 1400px;
  // margin: 0 auto;
}
