* {
  padding: 0;
  margin: 0;
}

html,
body {
  overflow: hidden;
  cursor: none;
}

body {
  font-family: 'Roboto';
}

@import './utils';
@import './fonts';
@import './components';
@import './pages';

main {
  position: relative;

  .info-slider-wrapper {
    position: absolute;
    display: block;
    top: 7%;
    left: 10%;
    z-index: 1;
    height: 100px;
    width: 300px;
    visibility: hidden;
    opacity: 0;
    transition: 200ms ease;

    @media screen and (min-width: $mobile) {
      top: 9%;
    }

    &.active {
      transition: 750ms ease 250ms;
      visibility: visible;
      opacity: 1;
    }

    h2 {
      color: white;
    }

    p {
      color: #B8B8B8;
    }
  }

  .info-slider-title {
    height: 82px;
    overflow-y: hidden;
    position: relative;
  }

  .info-slider-description {
    height: 20px;
    overflow-y: hidden;
  }

  @media screen and (min-width: $mobile) {
    .info-slider-wrapper {
      left: 14%;
    }
  }

  .cursor {
    display: none;
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    background: white;
    z-index: 10;
    transform: translate(0, 0);
    clip-path: polygon(0 30%, 49% 100%, 100% 66%);

    @media screen and (min-width: $mobile) {
      display: unset;
    }

    &.hovered {
      background: $accent-text-color;
    }
  }
}
