* {
  padding: 0;
  margin: 0;
}

html,
body {
  overflow: hidden;
}

body {
  font-family: 'Roboto';
}

@import './utils';
@import './fonts';
@import './components';
@import './pages';

main {
  position: relative;

  .info-slider-wrapper {
    position: absolute;
    display: block;
    top: 11%;
    left: 10%;
    z-index: 1;
    height: 100px;
    width: 300px;
    visibility: hidden;
    opacity: 0;
    transition: 200ms ease;

    &.active {
      transition: 750ms ease 250ms;
      visibility: visible;
      opacity: 1;
    }

    h2 {
      color: white;
    }

    p {
      color: #B8B8B8;
    }
  }

  .info-slider-title {
    height: 82px;
    overflow-y: hidden;
    position: relative;
  }

  .info-slider-description {
    height: 20px;
    overflow-y: hidden;
  }

  @media screen and (min-width: $mobile) {
    .info-slider-wrapper {
      left: 14%;
    }
  }
}
