<main>
  <div class="info-slider-wrapper" [class.active]="isTextSliderActive">
    <div class="info-slider-title">
      <app-text-slider
      [direction]="slideDirection"
        [textSize]="68"
        [values]="titles">
      </app-text-slider>
    </div>

    <div class="info-slider-description">
      <app-text-slider
      [direction]="slideDirection"
        [textSize]="16"
        [values]="descriptions">
      </app-text-slider>
    </div>
  </div>

  <app-header></app-header>

  <router-outlet></router-outlet>
</main>
