<div class="work">
  <div class="work-item-slider">
    <div class="work-item-slide-wrapper">
      <div class="work-item-slide" [ngStyle]="{ backgroundImage: 'url(' + '../../assets/images/ncrs.png)' }"></div>
    </div>

    <div class="work-item-slide-wrapper">
      <div class="work-item-slide" [ngStyle]="{ backgroundImage: 'url(' + '../../assets/images/camping-1.png)' }"></div>
    </div>

    <div class="work-item-slide-wrapper">
      <div class="work-item-slide" [ngStyle]="{ backgroundImage: 'url(' + '../../assets/images/camping-1.png)' }"></div>
    </div>
  </div>
</div>
